<div class="container-fluid" [@routerTransition]>
  <div class="row text-center">
    <div class="col mb-5">
      <h1>URL Shortener</h1>
      <small class="text-muted">Full stack challenge for BeenVerified</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form *ngIf="!shortUrl">
        <div class="from-group">
          <div class="input-group mb-3">
            <input type="url" name="url" class="form-control" [ngClass]="errors && errors.url ? 'is-invalid' : ''" placeholder="http://example.com" aria-describedby="short" [(ngModel)]='url'>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="short"  (click)="getShortUrl()">Make it short!</button>
            </div>
            <div class="invalid-feedback text-capitalize" *ngIf="errors && errors.url">
              {{errors.url}}
            </div>
          </div>
        </div>
      </form>
      <div *ngIf="shortUrl">
        <div class="input-group">
          <h3 class="form-control">
            <a href="{{shortUrl}}" target="_blank" class="text-decoration-none">{{shortUrl}}</a>
          </h3>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="clear()">Clear</button>
            <button class="btn btn-outline-secondary" type="button" (click)="copy()">Copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
